# Zero-Clause BSD License

# Copyright (C) 2024 Toitware ApS.

# Permission to use, copy, modify, and/or distribute this software for any
# purpose with or without fee is hereby granted.

# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH
# REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND
# FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT,
# INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM
# LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR
# OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR
# PERFORMANCE OF THIS SOFTWARE.

name: CI

on:
  push:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      pod-spec:
        description: 'Pod spec to build/upload. Empty means all.'
        required: false
        default: ''
      upload-to-production-fleet:
        description: 'Upload to production fleet.'
        type: boolean
        required: false
        default: false

env:
  # The tag that is used for pods that are uploaded when committed to the main branch.
  MAIN_TAG: "latest-main"
  # The fleet root (directory containing the fleet.json file).
  FLEET_ROOT: "${{ github.workspace }}"
  # The reference file to the production fleet.
  # This file was created using 'artemis fleet create-reference -o production.ref' (from within
  #   the production fleet directory).
  PRODUCTION_FLEET_REF: "${{ github.workspace }}/production.ref"
  # The location of the pods.
  POD_SPECS_DIR: "./"
  # Flags to the `find` that looks for the pod specs.
  POD_FIND_FLAGS: "-maxdepth 1"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0  # Needed for action-git-version.

      - uses: toitware/action-setup-artemis@v1.1.0

      - id: gitversion
        uses: toitlang/action-git-version@v1.1.0

      - name: Log into Artemis
        # Set the ARTEMIS_EMAIL and ARTEMIS_PASSWORD at
        # https://github.com/toitware/demo-artemis-pods/settings/secrets/actions
        run: |
          artemis auth login --email='${{ secrets.ARTEMIS_EMAIL }}' --password='${{ secrets.ARTEMIS_PASSWORD }}'

      - name: Setup
        run: |
          UPLOAD_TO_PRODUCTION=${{ github.event.inputs.upload-to-production-fleet == 'true' || github.event_name == 'release' }}
          echo "UPLOAD_TO_PRODUCTION=$UPLOAD_TO_PRODUCTION" >> $GITHUB_ENV

          TMP_DIR=$(mktemp -d)
          PODS_DIR="$TMP_DIR/pods"
          mkdir -p $PODS_DIR
          echo "PODS_DIR=$PODS_DIR" >> $GITHUB_ENV

      - name: Upload pods
        run: |
          SPECS="${{ github.event.inputs.pod-spec }}"
          if [ -z "$SPECS" ]; then
            SPECS=$(find $POD_SPECS_DIR $POD_FIND_FLAGS -name "*-pod.yaml" -o -name "*-pod.yml" -o -name "*-pod.json" -type f)
          fi

          TAGS="--tag ${{ steps.gitversion.outputs.version }}"
          RELEASE_TAG=$TAGS
          if [ "${{ github.ref }}" = "refs/heads/main" ]; then
            TAGS="--tag $MAIN_TAG"
          fi

          for SPEC in $SPECS; do
            POD_PATH=$PODS_DIR/$(basename $SPEC).pod

            echo "Building $SPEC"
            artemis --fleet=${{ env.FLEET_ROOT }} pod build $SPEC -o $POD_PATH

            echo "Uploading $SPEC"
            artemis --fleet=${{ env.FLEET_ROOT }} pod upload --force $TAGS $POD_PATH

            if [ "$UPLOAD_TO_PRODUCTION" = "true" ]; then
              echo "Uploading $SPEC to production fleet"
              artemis --fleet=${{ env.PRODUCTION_FLEET_REF }} pod upload --force $RELEASE_TAG $POD_PATH
            fi
          done

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: pods
          path: ${{ env.PODS_DIR }}

      - name: Roll out fleet
        run: |
          artemis --fleet=${{ env.FLEET_ROOT }} fleet roll-out

      - name: Upload release artifacts
        if: github.event_name == 'release'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload --clobber ${{ github.event.release.tag_name }} $PODS_DIR/*

